name: Upload Python Package

on:
    release:
        types: [published]

env:
    python-version: 3.12

jobs:
    build:
        name: Build Package
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0
                  submodules: recursive
            - name: Install uv and set the python version to ${{ env.python-version }}
              uses: astral-sh/setup-uv@v5
              with:
                  python-version: ${{ env.python-version }}
            - name: Build package
              run: uv build

            - name: Publish package distributions to PyPI
              uses: pypa/gh-action-pypi-publish@release/v1
